.body{
  overflow: hidden;
}
/* This box class is purely used for explaining how the bootstrap grid system works. */
.box {
  background-color: lightblue;
  border: 1px solid blue;
  min-height: 50px;
  font-size: 2rem;
}

#searchinput {
  margin-left: 5px;
  margin-top: 10px;
  width: 200px;
}

#customerButton {
  margin-right: 10px;

}
#ticketBtn{
  margin-right: 10px;

}

#sagBtn{
  margin-right: 10px;

}

/* Denne klasse bruges til at vise knappen øverst til højre */
.customHelpButton {
  position: fixed;  
  top: 65px;             
  right: 110px; /* Juster for at undgå at det kommer uden for skærmen */
  z-index: 10;
  border-radius: 8px;
}

/* Containeren, der indeholder collapse */
.customHelpBox {
  position: fixed;    
  top: 120px;              
  right: 20px; /* Juster for at undgå at det kommer uden for skærmen */
  width: 330px;  
  border-width: 1px; /* Overskriver Bootstrap's standard (1px) */
  border-color: rgb(145, 143, 143); /* Sætter farven */         
}

.row{
  position: relative;
  left: -150px;
}

.border {
  border-width: 1px; /* Overskriver Bootstrap's standard (1px) */
  border-color: rgb(145, 143, 143) !important; /* Sætter farven */
}

#KundeOplysninger {
  margin-left: 0;
  margin-top: 30px;
  width: 500px;
  padding: 1%;
  border-radius: 7px;
  border: 15px solid black; /* Overskriver Bootstrap's standard-border */
}

#SagsBeskrivelseBox {
  margin-top: 30px;
  height: 200px;
  border-radius: 7px;

}

#SagsHistorikBox {
  margin-top: 120px;
  height: 200px;
  border-radius: 7px;

}



body::before {
  content: "XS";
  color: red;
  font-size: 2rem;
  font-weight: bold;
  position: fixed;
  top: 0;
  right: 0;
}

@media (min-width: 576px) {
  body::before {
    content: "SM";
  }
}

@media (min-width: 768px) {
  body::before {
    content: "MD";
  }
}

@media (min-width: 992px) {
  body::before {
    content: "LG";
  }
}

@media (min-width: 1200px) {
  body::before {
    content: "XL";
  }
}

@media (min-width: 1400px) {
  body::before {
    content: "XXL";
  }
}

.usercontainer {
  display: flex;
}
.userbutton{
  margin-left: 5px;
  margin-top: 10px;
  width: 200px;
}